
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: #f3f3f3;
}
.flexbox{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}

.flexbox .board{
  display: flex;
  z-index: 1;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  max-width: 500px;
  background-color: #313131;
  margin-top: 100px;
  margin-left: 5px;
  margin-right: 5px;
}

.flexbox .board .card{
  padding: 15px 25px;
  background-color: #f3f3f3;
  cursor: pointer;
  margin: 15px;
  position: relative;
}

#saved-tweets-header{
    margin-top: -58px;
    position: absolute;
    text-align: center;
}